yake
spacy>=3.4
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.4.0/de_core_news_sm-3.4.0.tar.gzegg=de_core_news_sm
matplotlib
seaborn
rouge-score
transformers>=4.15
sentence-transformers
torch
numpy
scipy
tqdm
protobuf
nltk

# Used in debugging
# pke<=2.0
